<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Street Cafe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    .checked{
        color: orange;
    }
</style>
<body>
    <header>
        <h1>Restaurent Reviews</h1> 
        <a href="../../index.html">Home</a>
        <a href="../Add_review/add_review.html">Add Review</a>
        <a href="../about_page/about.html">About</a>
     </header>
    <main>
        <h2>Main Street Cafe</h2>
        <img height="200px" width= "400px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Barbieri_-_ViaSophia25668.jpg/1024px-Barbieri_-_ViaSophia25668.jpg"
            alt="Main Street Cafe" />
        <div>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
        <section>
            <h3>Overview</h3>
            <p>Cuisine: American,Grill,Gluten Free Options</p>
            <p>Price: $-$$</p>
            <p>Featuring a wide variety of food including burgers, chicken nd sanwiches</p>
        </section>
        <section>
            <h3>Reviews</h3>

            <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <p>Terry: The food was excellent although the wait was terribly long.</p>

            <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <p>Julio: My favorite place to eat in Anytown, The SUper Deluxe Burger is mouth-watering.</p>

            <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <p>Avery: Everything on the menu is delicious, and the prices aren't bad.</p>
        </section>
    </main>
    <footer>
        <p>&#169; 2023 Restaurent Reviews</p>
    </footer>
</body>
</html>