<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <header>
        <h1>Restaurent Reviews</h1> 
        <a href="../../index.html">Home</a>
        <a href="../Add_review/add_review.html">Add Review</a>
        <a href="../about_page/about.html">About</a>
     </header>
    <section>
        <h2>About</h2>
        <p>Restaurent Reviews is a website that collects user reviews for restaurents</p>
    </section>
    <section>
        <h2>Desclaimer</h2>
        <p>All reviews on this website are written by our website user and should not be regarded as an endorsment of any perticuler restaurent b Restaurent reviews </p>
    </section>
    <section>
        <h2>Contact Us</h2>
        <p>Email: <a>restaurentreviews@email.com</a></p>
        <p>Phone: <a>111-222-3333</a></p>
        <p>Restaurent Review <br>
            7361 Cury Ford Rd <br>
            Orlando, FL 32827
        </p>
        
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.9937675856977!2d77.60985467473333!3d12.90812188740144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae151052b81afd%3A0x996f933e0200e477!2sFaraday!5e0!3m2!1sen!2sin!4v1685275418939!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
    </section>
    <footer>
        <p>&#169; 2023 Restaurent Reviews</p>
    </footer>
</body>
</html>