.content-container{
  display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    .left-section{
      width: 40%;
      height: 100%;
      .slick-prev{
        background-color: rebeccapurple;
        z-index: 1; 
        left: 10px;
      }
      .slick-next{
        background-color: rebeccapurple;
        z-index: 1; 
        right: 10px;
      }
      div{
        height: 100%;
        width: 100%;
      }
      .button__bar {
        display: none !important;
        vertical-align: middle;
        margin: auto;
        padding: 0;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 40px;
        width: 70px;
        text-align: center;
        padding-top: 5px;

        :global(li) {
            list-style: none;
            cursor: pointer;
            display: inline-block;
            margin: 0 3px;
            padding: 0;

            &:global(.slick-active) {
                :global(button) {
                    border: 1px solid #1A4198;
                    background-color: #1A4198;
                }
            }

            :global(button) {
                border: 1px solid #ADB8BF;
                background: #fff;
                color: transparent;
                cursor: pointer;
                display: block;
                height: 8px;
                width: 8px;
                padding: 0px;
                border-radius: 50%;
            }
        }
    
      }
      .slider-card{
        display: grid !important;
        grid-template-columns: 350px 350px 350px;
        gap: 18px;
        align-items: center;
        max-height: 100%;
        .modal-card-img{
          height: 100%;
          width: 100%;
          object-fit: fill;
          
        }  
      }
           
    }
    .right-section{
      width: 60%;
      height: 100%;
      margin-left: 10px;
    }
}