@keyframes moveFraction {
    0% {
      color: yellow;
      transform: translate(-355px, 60px);
    }
    50% {
      transform: translate(0px, 60px);
    }
    100% {
      color: red;
      transform: translate(0px, 0px);
    }
  }

  #answer {
    animation-name: moveFraction;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  #question {
    transition: transform 0.6s ease-in-out;
  }

  #question:hover {
    transform: scale(0.9);
  }